<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extract Log</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <nav>
        <label class="logo">Extract Log</label>
        <ul>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">Manual</a></li>
        </ul>
    </nav>
    <div class="container">
        <header>
            <h1>Extract Log</h1>
        </header>
        <main>
            <form method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="input_folder">Input Folder:</label>
                    <div class="form-data-input">
                        <label for="Example_input_folder">Do not exceed 220 files</label>
                    </div>
                    <input type="file" id="input_folder" name="input_folder" webkitdirectory directory required><br><br>
                </div>
                <div class="form-group">
                    <label for="file_name">Output File Name:</label>
                    <input type="text" id="file_name" name="file_name" required>
                </div>
                <div class="form-data">
                    <label for="Example_file_name">e.g. Extracted_Log ⮕ Extracted_Log.xlsx</label>
                </div>
                <button type="submit">Process Files</button>
            </form>
        </main>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <div style="position: fixed; bottom: 10px; right: 10px; font-size: 12px; color: white;">
        Version 0.0.1 By Loedpipat
    </div>
</body>
</html>
